<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
<!---->
<img src="/images/logo.svg" alt="">
<h4>Lugar para poner barra de busqueda</h4>
<h4>Comprá en cuotas y sin tasrjeta de crédito</h4>
<section>
    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
        <br>
        <li><a href="">Creá tu cuenta</a></li>
        <li><a href="">Ingresá</a></li>
        <li><a href="">Mis compras</a></li>
    </ul>
</section>
<div>
    <img src="/images/banner.jpg" alt="banner" width="310" height="110">
</div>
</header>
<body>
    <section>
        <h2>Basado en la última visita</h2>
        <article>
            <img src="/images/cafetera.jpg" alt="cafe" width="80%" height="65%">
            <h5>$6.770</h5>
            <h5>40% OFF</h5>
            <h4>Cafetera Moulinex</h4>
        </article>
        <article>
            <img src="/images/macbook.jpg" alt="macbook" width="80%" height="100%" >
            <h5>$230.000</h5>
            <h5>20% off</h5>
            <h4>MacBook Pro 2019</h4>
        </article>
        <article>
            <img src="/images/samsung.jpg" alt="celular" width="80%" height="65%">
            <h5>$70.500</h5>
            <h5>10% off </h5>
            <h4>Samsung Galaxy S10</h4>
        </article>
        <article>
            <img src="/images/tv-smart.jpg" alt="tv-smart" width="80%" height="65%">
            <h5>$23.200</h5>
            <h5>5% off</h5>
            <h4>SmartTv Samsung 43"</h4>
            <br>
        </article>
    </section>
</body>
<footer>
    <section>
        <ul>
            <li><h3>Pagá con tarjeta o en efectivo</h3>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</li>
        </ul>
        <ul>
            <li><h3>Envío gratis desde $ 2.500</h3>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</li>
        </ul>
        <ul>
            <li><h3>Seguridad, de principio a fin</h3>
            </li>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</ul>
            <ul>
                <li><h3><li><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li></h3></li>
            </ul>
            
    </section>
</footer>
</html>